.client {
  padding-top: 15px;
}

.client__container {
}

.client__title {
  font-weight: 800;
  font-size: 22px;
  margin-bottom: 5px;
}

.client-swiper {
  width: 100%;
}

.client-slide {
  flex-shrink: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: black;
  overflow: hidden;
}

@media (min-width: 768px) {
  .client {
    padding-top: 20px;
  }
  .client-slide {
    height: 200px;
  }
}

@media (min-width: 1024px) {
  .client {
    padding-top: 30px;
  }
  .client-slide {
    height: 300px;
  }
}
