@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-extrabold.woff2") format("woff2"),
    url("../fonts/gilroy-extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-regular.woff2") format("woff2"),
    url("../fonts/montserrat-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-extralight.woff2") format("woff2"),
    url("../fonts/montserrat-extralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-thin-italic.woff2") format("woff2"),
    url("../fonts/montserrat-thin-italic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
