.footer__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 10px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__social-list {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer__social-item {
  width: 100%;
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  padding: 10px;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  transition: border-color 0.5s ease, background-color 0.5s ease,
    background 0.5s ease;
}

.footer__social-link:active.social_youtube {
  border-color: transparent;
  background-color: #ff3000;
}

.footer__social-link:active.social_instagram {
  border-color: transparent;
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.footer__social-link:active.social_vimeo {
  border-color: transparent;
  background-color: #32b8e8;
}

.footer__phone-list {
  width: 50%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer__phone-item {
  width: 100%;
}

.footer__phone-link {
  width: max-content;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 800;
  font-size: 20px;
  transition: color 0.5s ease;
}

.footer__phone-link:active {
  color: #00d95f;
}

@media (min-width: 580px) {
  .footer {
    padding-top: 20px;
  }
  .footer__title {
    text-align: center;
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .footer {
    padding-top: 30px;
  }
  .footer__title {
    font-size: 35px;
  }
  .footer__contacts {
    gap: 40px;
  }
  .footer__social-list {
    width: 100%;
    flex-direction: row;
    gap: 20px;
  }
  .footer__social-link {
    font-size: 25px;
    padding: 10px;
  }
  .footer__phone-list {
    width: 100%;
    flex-direction: row;
    margin: 0;
    gap: 10%;
  }
  .footer__phone-item:nth-child(1n) > .footer__phone-link {
    margin-left: auto;
  }
  .footer__phone-item:nth-child(2n) > .footer__phone-link {
    margin: 0;
    margin-right: auto;
  }
  .footer__phone-link {
    justify-content: center;
    font-size: 25px;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding-top: 40px;
  }
  .footer__title {
    font-size: 45px;
  }
  .footer__social-link {
    font-size: 30px;
    padding: 20px;
  }
  .footer__phone-link {
    justify-content: center;
    font-size: 30px;
  }
  .footer__social-link:hover.social_youtube {
    border-color: transparent;
    background-color: #ff3000;
  }

  .footer__social-link:hover.social_instagram {
    border-color: transparent;
    background: #f09433;
    background: -moz-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }

  .footer__social-link:hover.social_vimeo {
    border-color: transparent;
    background-color: #32b8e8;
  }
  .footer__phone-link:hover {
    color: #00d95f;
  }
}
